name: Deploy to staging
on:
push:
  branches:
    - "main"

jobs:
  redeploy_everything:
    name: Deploying everything to staging cluster
    runs-on: ubuntu-latest

    steps:
      - name: SSH into server
      - run: |
          echo ${{ secrets.SSH_KEY }} &> ~/ssh_key.pem
          ssh -i ~/ssh_key.pem azureuser@20.40.45.109
          cd deploy_turbo/ && git pull
          pnpm install
          pnpm run build
          pm2 restart all
