name: Deploy to staging
on:
  push:
    branches:
      - "main"

jobs:
  redeploy_everything:
    name: Deploying everything to staging cluster
    runs-on: ubuntu-latest

    steps:
      - name: SSH into server
        run: |
          echo "${{ secrets.SSH_KEY }}" &> ~/ssh_key.pem
          mkdir -p /home/runner/.ssh/
          ls /home/runner/.ssh
          touch /home/runner/.ssh/known_hosts
          echo "${{ secrets.KNOWN_HOSTS }}" &> /home/runner/.ssh/known_hosts
          chmod 700 ~/ssh_key.pem
          ssh -i ~/ssh_key.pem azureuser@20.40.45.109 -t "cd deploy_turbo/ && git pull origin main && source ~/.bashrc && npm i -g pnpm && pnpm install && pnpm run build && pm2 restart all"
